---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: longhorn
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "20"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://charts.longhorn.io
    chart: longhorn
    targetRevision: 1.7.2
    helm:
      valuesObject:
        persistence:
          defaultClass: true
          defaultClassReplicaCount: 2
          reclaimPolicy: Retain
        defaultSettings:
          defaultDataPath: /var/lib/longhorn
          defaultReplicaCount: 2
          guaranteedInstanceManagerCpu: 5
          # DATA RESTRICTION: Data only goes to nodes with this label
          createDefaultDiskLabeledNodes: true
          defaultLonghornStaticStorageClass: longhorn
          taintToleration: ""
        # Required for ArgoCD
        preUpgradeChecker:
          jobEnabled: false
        postUpgradeChecker:
          jobEnabled: false
        # DRIVER RESTRICTION REMOVED: Now they run on Pis too!
        ingress:
          enabled: false
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: longhorn-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - RespectIgnoreDifferences=true
    retry:
      limit: 5
      backoff:
        duration: 10s
        factor: 2
        maxDuration: 5m
  ignoreDifferences:
    # Ignore all CRD webhook configurations
    - group: apiextensions.k8s.io
      kind: CustomResourceDefinition
      jqPathExpressions:
        - '.spec.conversion.webhook.clientConfig.caBundle'
    # Ignore specific CRDs that Longhorn webhooks modify
    - group: apiextensions.k8s.io
      kind: CustomResourceDefinition
      name: engineimages.longhorn.io
      jqPathExpressions:
        - '.spec.conversion'
    - group: apiextensions.k8s.io
      kind: CustomResourceDefinition
      name: engines.longhorn.io
      jqPathExpressions:
        - '.spec.conversion'
    - group: apiextensions.k8s.io
      kind: CustomResourceDefinition
      name: instancemanagers.longhorn.io
      jqPathExpressions:
        - '.spec.conversion'
    - group: apiextensions.k8s.io
      kind: CustomResourceDefinition
      name: nodes.longhorn.io
      jqPathExpressions:
        - '.spec.conversion'
    - group: apiextensions.k8s.io
      kind: CustomResourceDefinition
      name: replicas.longhorn.io
      jqPathExpressions:
        - '.spec.conversion'
    - group: apiextensions.k8s.io
      kind: CustomResourceDefinition
      name: settings.longhorn.io
      jqPathExpressions:
        - '.spec.conversion'
    - group: apiextensions.k8s.io
      kind: CustomResourceDefinition
      name: volumes.longhorn.io
      jqPathExpressions:
        - '.spec.conversion'
