---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflare-api-token
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgDXAVdu1xKtd8QFRqUFVZ3pkfu2Emj/p9qrr+FxxldlSdZSWBH2y1dl5Ms5U0LmtS62wnq4cRNGvcm+5Pgu1FPZeLG/nLtG0pTSmLtSOkBaEPa91JyyjGazPRKaCxwOmuvPuQNWR1XgDWL10Z4lh4nhDg5r/KdXH+v/zjXEk9x6Y76PggX8PtZffvNg/ztGAVFK+BVbh/PNVFZ/5BSSsXQ4TX7G4Q7uTxvAYX7gow6zAYnCe4ACBROndGHssQkt5Afg0agiMKkoXB/DuQ4ERavD5alR3Cx3BpKzq+8j0AMNz48XYYhaGjSD2QmhK2HcHNa749fppITld1yNjHQEGJQwkFvRoRmZWr1ttP1Wpw1rVrnSkVkOvS7E0G8vLNE/h4cOgwDvsy8bWOiIb20yioeWU4WsQjr4FZcZLgeexAtQWDkMtAU3csUq2pvF0MPEmcnv64fPCzB+DaAQltLhdJJ/sV1WNC7FqAhf+HBy+jXVcMKWssQglSpI/TRo7zbq6Q4MoZVe3L3KW6WDQ0iXYeg1aFqdJXaODqJS1sklykVDtbYSZY0aEcqMnTXfIKGKQiimnIG0l91Qe2wJmlpgRTRy7n6zNGO01lLkCDsQV0Z2wwx3WAH1jglB4dTOYxNsWr5RaeAe7A4DK+0ZF9M4uYmPmbj8ZNUBuo6SWPXUgxQLk8ffZEx/RpNBKayXZKKnMPtUeDcgtmHnrcrkTuO/3a87VqOaqEIrQD3km7eabjcQcx6hfVWYgJAD
  template:
    metadata:
      name: cloudflare-api-token
      namespace: cert-manager
