apiVersion: v1
kind: PersistentVolume
metadata:
  name: truenas-tv-2-series
spec:
  capacity:
    storage: 2Ti
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: 172.42.0.2
    path: /mnt/Dune/Media/TV-Series-2
